.bdr{
    border: 2px solid black;
}

.box{
    display: inline-block;
    height: 440px;
    width: 200px;
    text-align: center;
    
}
.box1{
    background-color: yellow;
}
.box2{
    background-color: palevioletred;
}
.box3{
    background-color: lightcyan;
}