img {
  float: left;              /* makes the image float to the right */
  width: 250px;
  height: 250px;            /* set image width */
  margin: 10px;              /* adds space around the image */
  display:inline-block;
  border:2px solid black;
       /* rounded corners */
}
p {
  font-size: 18px;
  line-height: 1.6;
  padding-left: 10px;
  
}
div{
    border:2px solid black;
    height: 400px;

    background-color: lightblue;
}
h2{
    padding-left: 10px;
}